# Formatting for editors and shfmt (make format).
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.sh]
indent_style = space
indent_size = 2
shell_variant = posix
switch_case_indent = true

[.githooks/*]
indent_style = space
indent_size = 2
shell_variant = posix
switch_case_indent = true

[bin/*]
indent_style = space
indent_size = 2
shell_variant = posix
switch_case_indent = true

[*.bats]
indent_style = space
indent_size = 2
shell_variant = bats
switch_case_indent = true

[tests/helpers.bash]
indent_style = space
indent_size = 2
shell_variant = bash
switch_case_indent = true

[Makefile]
indent_style = tab
